@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.heading-primary {
  font-size: 8rem;
  font-family: "Cairo";
}

.heading-primary-inner-mod {
  color: #f50057;
}

.heading-primary-mod {
  margin-left: -0.5rem;
}

.btn {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  background-color: #f50057;
  border-radius: 4rem;
  border: 0.1rem solid transparent;
  color: #fff !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-link, .btn-link:link, .btn-link:visited {
  text-decoration: none;
  color: #131313;
}

.btn-resume {
  padding: 0rem 2rem;
  font-size: 1.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-resume:hover {
  background-color: #fff;
  color: #131313 !important;
  border: 0.1rem solid #f50057;
}

.btn-viewWorks {
  display: inline-block;
  margin-top: 2rem;
}

.btn-viewWorks:hover {
  background-color: #fff;
  color: #131313 !important;
  border: 0.1rem solid #f50057;
}

.burger-menu {
  margin-top: 1.5rem;
  margin-left: 2rem;
  position: absolute;
  right: 6rem;
  top: 1.5rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  .burger-menu {
    display: block;
  }
}

.burger-menu .bar {
  width: 3rem;
  margin-bottom: 0.7rem;
  height: 0.3rem;
  background-color: #131313;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.burger-menu .bar2 {
  width: 2rem !important;
  background-color: #f50057;
}

.sidemenu {
  position: fixed;
  background-color: #131313;
  top: 0;
  right: -32rem;
  color: white;
  height: 100vh;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.sidemenu__close-btn {
  position: relative;
  text-align: center;
  margin-top: 3rem;
}

.sidemenu__logo, .sidemenu__logo:link, .sidemenu__visited {
  text-decoration: none;
  color: #fff;
  font-family: "Fredericka the Great", cursive;
  font-size: 5rem;
  position: relative;
  cursor: pointer;
}

.sidemenu .fa-times {
  position: absolute;
  top: 2rem;
  left: -1.4rem;
  font-size: 1.6rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  background: #f50057;
  line-height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.sidemenu__list {
  list-style: none;
  margin-top: 4rem;
}

.sidemenu__item {
  min-height: 6rem;
  padding: 0 14rem 0 2rem;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid #252323;
  padding-top: 3.1rem;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.sidemenu__item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.5rem;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-color: #f50057;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.sidemenu__item:hover::before {
  width: 100%;
  z-index: 1;
}

.sidemenu__item:hover .fas {
  color: #f50057;
}

.sidemenu__link, .sidemenu__link:link, .sidemenu__link:visited {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.header-area .nav-area {
  padding: 1.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.header-area .nav-area .logo {
  margin-left: 2rem;
}

.header-area .nav-area .logo-text, .header-area .nav-area .logo-text:link, .header-area .nav-area .logo-text:visited {
  text-decoration: none;
  font-size: 5rem;
  font-family: "Fredericka the Great", cursive;
  color: #131313;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.header-area .nav-area .logo-text:hover, .header-area .nav-area .logo-text:link:hover, .header-area .nav-area .logo-text:visited:hover {
  color: #f50057;
}

.header-area .nav-area .logo-text:hover .logo-text-mod, .header-area .nav-area .logo-text:link:hover .logo-text-mod, .header-area .nav-area .logo-text:visited:hover .logo-text-mod {
  color: #131313 !important;
}

.header-area .nav-area .logo-text-mod {
  color: #f50057 !important;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.header-area .nav-area .nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .header-area .nav-area .nav {
    display: none;
  }
}

.header-area .nav-area .nav__list {
  list-style: none;
  font-size: 1.7rem;
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 1200px) {
  .header-area .nav-area .nav__list {
    font-size: 1.5rem;
  }
}

.header-area .nav-area .nav__item {
  position: relative;
  padding: 1rem;
  z-index: 10;
}

.header-area .nav-area .nav__item:not(:last-child) {
  margin-right: 3rem;
}

@media (max-width: 1200px) {
  .header-area .nav-area .nav__item:not(:last-child) {
    margin-right: 2rem;
  }
}

.header-area .nav-area .nav__item-link, .header-area .nav-area .nav__item-link:link, .header-area .nav-area .nav__item-link:visited {
  text-decoration: none;
  color: #131313;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-area .nav-area .nav__item-link::before, .header-area .nav-area .nav__item-link:link::before, .header-area .nav-area .nav__item-link:visited::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  width: 0%;
  background: #f50057;
  height: 3.3rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-area .nav-area .nav__item-link:hover:before, .header-area .nav-area .nav__item-link:link:hover:before, .header-area .nav-area .nav__item-link:visited:hover:before {
  width: 100%;
}

.header-area .nav-area .nav__item-link:hover, .header-area .nav-area .nav__item-link:link:hover, .header-area .nav-area .nav__item-link:visited:hover {
  color: #fff;
}

.header-area .hero-section {
  padding: 20rem 0 26rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.header-area .hero-section .intro {
  margin-left: 2rem;
}

.header-area .hero-section .intro__greet {
  font-size: 2rem;
  font-family: "Cairo", sans-serif;
  color: #a09b9b;
  margin-bottom: -4rem;
}

.header-area .hero-section .intro__list {
  list-style: none;
  font-size: 2.2rem;
  font-family: "Cairo", sans-serif;
  margin-top: -2rem;
  font-weight: 600;
}

.header-area .hero-section .hero-img .img-hero {
  width: 100%;
}

.header-area .arrow {
  text-align: center;
}

.header-area .arrow-down {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: auto;
  border: 1px solid #f50057;
  text-align: center;
  line-height: 40px;
  font-size: 1.4rem;
  margin-top: -4rem;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-area .arrow-down:hover {
  background-color: #f50057;
  color: #fff;
  border: 1px solid transparent;
}
/*# sourceMappingURL=main.css.map */