// =====================================================
//     Header area starts here
// =====================================================

.header-area {
  .nav-area {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .logo {
      margin-left: 2rem;
      &-text,
      &-text:link,
      &-text:visited {
        text-decoration: none;
        font-size: 5rem;
        font-family: $logo-font;
        color: $color-black-1;
        transition: all 0.4s ease-out;

        &:hover {
          color: $color-secondary;
        }
        &:hover .logo-text-mod {
          color: $color-black-1 !important;
        }
      }

      &-text-mod {
        color: $color-secondary !important;
        transition: all 0.4s ease-out;
      }
    }
    .nav {
      display: grid;
      align-items: center;

      @include respond(tab) {
        display: none;
      }

      &__list {
        list-style: none;
        font-size: 1.7rem;
        font-family: $nav-font;
        font-weight: 600;
        display: inline-flex;
        @include respond(desktop) {
          font-size: 1.5rem;
        }
        // display: grid;
        // grid-template-columns: repeat(5, 1fr);
      }
      &__item {
        position: relative;
        padding: 1rem;
        z-index: 10;
        &:not(:last-child) {
          margin-right: 3rem;

          @include respond(desktop) {
            margin-right: 2rem;
          }
        }

        &-link,
        &-link:link,
        &-link:visited {
          text-decoration: none;
          color: $color-black-1;
          transition: all 0.4s;
          &::before {
            content: "";
            z-index: -1;
            position: absolute;
            left: 0;
            width: 0%;
            background: $color-secondary;
            height: 3.3rem;
            transition: all 0.4s;
          }

          &:hover:before {
            width: 100%;
          }

          &:hover {
            color: $color-white-1;
          }
        }
      }
    }
  }
  .hero-section {
    padding: 20rem 0 26rem 0;
    // height: 90vh;
    // background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .intro {
      //   display: grid;
      //   align-items: center;
      margin-left: 2rem;

      &__greet {
        font-size: 2rem;
        font-family: $nav-font;
        color: $color-grey-1;
        margin-bottom: -4rem;
      }
      &__list {
        list-style: none;
        font-size: 2.2rem;
        font-family: $nav-font;
        margin-top: -2rem;
        font-weight: 600;
      }
    }
    .hero-img {
      //   .img {
      //   }
      .img-hero {
        width: 100%;
      }
    }
  }
  .arrow {
    text-align: center;

    &-down {
      display: inline-block;
      width: 40px;
      height: 40px;
      cursor: pointer;
      margin: auto;
      border: 1px solid $color-secondary;
      text-align: center;
      line-height: 40px;
      font-size: 1.4rem;
      margin-top: -4rem;
      border-radius: 50%;
      transition: all 0.4s;
      &:hover {
        background-color: $color-secondary;
        color: $color-white-1;
        border: 1px solid transparent;
      }
    }
  }
}

// =====================================================
//     Header area ends here
// =====================================================
