.burger-menu {
  margin-top: 1.5rem;
  margin-left: 2rem;
  position: absolute;
  right: 6rem;
  top: 1.5rem;
  transition: all 0.4s ease-out;
  cursor: pointer;
  display: none;

  @include respond(tab) {
    display: block;
  }

  // .bar11 {
  //   transform: rotate(-45deg) translate(-10px, 10px);
  // }
  // .bar22 {
  //   // display: none;
  //   transform: translateX(-10px);
  //   opacity: 0;
  // }
  // .bar33 {
  //   transform: rotate(45deg) translate(-3px, -4px);
  // }
  .bar {
    width: 3rem;
    margin-bottom: 0.7rem;
    height: 0.3rem;
    background-color: $color-black-1;
    transition: all 0.4s;
    &1 {
      &:hover {
      }
    }

    &2 {
      width: 2rem !important;
      background-color: $color-secondary;
    }
  }
}
