.btn {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  background-color: $color-secondary;
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  color: $color-white-1 !important;
  transition: all 0.4s;
  &-link,
  &-link:link,
  &-link:visited {
    text-decoration: none;
    color: $color-black-1;
  }

  &-resume {
    padding: 0rem 2rem;
    font-size: 1.5rem;
    display: grid;
    align-items: center;

    &:hover {
      background-color: $color-white-1;
      color: $color-black-1 !important;
      border: 0.1rem solid $color-secondary;
    }
  }
  &-viewWorks {
    display: inline-block;
    margin-top: 2rem;

    &:hover {
      background-color: $color-white-1;
      color: $color-black-1 !important;
      border: 0.1rem solid $color-secondary;
    }
  }
  &-all-works {
    text-align: center;
  }
  &-view-all-works,
  &-view-all-works:link,
  &-view-all-works:visited {
    margin-top: 4rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 1rem !important;

    transition: all 0.4s;
  }
  &-view-all-works:hover {
    transform: translateY(-0.3rem);
    box-shadow: 1px 4px 20px 0px black;
  }
  &-contact-submit {
    cursor: pointer;

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 1px 4px 10px 0px black;
    }
  }
}

.btn-group {
  .btn-about {
    padding: 0.8rem 1.5rem;
    font-size: 1.6rem;
    border: 0.1rem solid transparent;
    border-radius: 1rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    cursor: pointer;
  }
  .btn-active-about {
    background-color: $color-secondary;
    color: $color-white-1;
  }
  &-aboutme {
  }
  &-skill {
  }
  &-experience {
  }
}
