$logo-font: "Fredericka the Great", cursive;
$body-font: "Poppins", sans-serif;
$nav-font: "Cairo", sans-serif;

// font colors

$color-primary: #00b0ff;
$color-secondary: #f50057;

$color-black-1: #131313;

$color-white-1: #fff;

$color-grey-1: #a09b9b;
$color-grey-2: #252323;

// background colors
